.flex-container {
    display:flex;
}
.item1 {
    flex-grow: 0;
    background-color: darkseagreen;
}
.item2 {
    flex-grow: 1;
    background-color: brown;
}
.item3 {
    flex-grow: 2;
    background-color: blue;
}