.flex-container {
    display:flex;
}
.flex-1 {
    flex:1 1 auto;
    background-color: gray;
}
.flex-2 {
    flex:2 1 150px;
    background-color:darkseagreen;
}
.flex-3 {
    flex:1 0 100px;
    background-color: darkorchid;
}
.flex-4 {
    flex:0 1 200px;
    background-color: blueviolet;
}