body {
    background-color: lime;
    padding: 15px;
}
h1, h2, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.encabezado {
    display: flex;
    align-items: center;
}
h1 {
    text-shadow: 10px;
    color:black;
    font-style: oblique;
    font-weight: bolder;
    border-style: dashed;
    padding: 5px;
    border-color: blueviolet;
}
.menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px; /* espacio entre enlaces */
    margin: 0;
    padding: 5px;
}
a:hover {
    color: aqua;
}
a:active {
    color: aqua;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-image: url(https://www.esedsl.com/hs-fs/hubfs/2--Imagen-Blog---atutentificaci%C3%B3n-de-los-factores.jpg?width=750&name=2--Imagen-Blog---atutentificaci%C3%B3n-de-los-factores.jpg);
}
.hero h2 {
    font-size: 30px;
}
.hero h2 + p {
    font-size: 20px;
    color:beige;
}
.hero button:hover {
    transform: scale(1.1);
    background-color: darkblue;
}
.tarjetas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.tarjeta {
    flex:1 1 150px;
    background-color: darkmagenta;
    border-color: black;
    border-radius: 10px; /* redondea cada contenedor .tarjeta */
    padding: 10px;
    border-style: solid;
    border-width: 2px;
}
.tarjetas h2 {
    width: 100%;   /* Forces the title to take full row */
}
.tarjeta img {
    border-radius: 3px;
}
.tarjeta > h3 {
    font-style: oblique;
}
.tarjeta button:hover {
    background-color:hotpink;
}