body {
    background-color: lime;
    padding: 15px;
}
h1, h2, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.encabezado {
    display: flex;
    align-items: center;
}
h1 {
    text-shadow: 10px;
    color:black;
    font-style: oblique;
    font-weight: bolder;
    border-style: dashed;
    padding: 5px;
    border-color: blueviolet;
}
.menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px; /* espacio entre enlaces */
    padding: 5px;
}
a:hover {
    color: aqua;
}
.menu a.activo {
    font-style: italic;
    color: midnightblue;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-image: url(https://www.esedsl.com/hs-fs/hubfs/2--Imagen-Blog---atutentificaci%C3%B3n-de-los-factores.jpg?width=750&name=2--Imagen-Blog---atutentificaci%C3%B3n-de-los-factores.jpg);
    min-height: 25vh;
}
.hero h2 {
    font-size: 30px;
}
.hero h2 + p {
    font-size: 20px;
    color:beige;
}
.hero button:hover {
    transform: scale(1.1);
    background-color: darkblue;
}
.tarjetas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.casos {
    flex:1 1 150px;
    background-color: darkmagenta;
    border-color: black;
    border-radius: 10px; /* redondea cada contenedor .tarjeta */
    padding: 10px;
    border-style: solid;
    border-width: 2px;
}
.tarjetas h2 {
    width: 100%;   /* Forces the title to take full row */
}
.casos img {
    border-radius: 3px;
}
.casos > h3 {
    font-style: oblique;
}
.casos button:hover {
    background-color:hotpink;
}
.amenazas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}
.amenazas h2 {
    width: 100%;   /* Forces the title to take full row */
}
.ejemplosAmenazas {
    background-color: darkolivegreen;
    padding: 10px;
    font-size: 0.95rem;
}
.ejemplosAmenazas img:hover + h3 {
    font-style: italic;
}
.campañas {
    list-style: none;
}
.campañas ul > li {
    padding: 10px;
    margin-bottom: 10px;
}
/* estilo para primera y segunda campaña */
.campaña1, .campaña2 {
    background-color: darkmagenta;
    display: flex;
    align-items: center;
    color: white;
}
.campaña1 > h3, .campaña2 > h3, .campaña1 > p, .campaña2 > p {
    border-right: 3px;
    border-right-style: dotted;
    margin: 3px;
    padding: 6px;
}
/* estilo para tercera campaña */
.campaña3 {
    background-color: rgb(255, 154, 210);
}
.campañas time {
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:linen
}
.piePagina {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    background-color: indigo;
    color: white;
}
.piePagina ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px; /* espacio entre enlaces */
    padding: 5px;
}
.piePagina a {
    color:deepskyblue;
}
.piePagina a:hover {
    color: azure;
}