body {
    background-color: lime;
    padding: 15px;
}
h1, h2, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.encabezado {
    display: flex;
    align-items: center;
}
h1 {
    text-shadow: 10px;
    color:black;
    font-style: oblique;
    font-weight: bolder;
    border-style: dashed;
    padding: 5px;
    border-color: blueviolet;
}
.menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px; /* espacio entre enlaces */
    margin: 0;
    padding: 5px;
}
a:hover {
    color: aqua;
}
a:active {
    color: aqua;
}